{% extends 'base.html.twig' %}

{% block title %}All programs of the category{% endblock %}

{% block body %}
    <h1>Catégorie {{ programs[0].category.name }} : </h1>
    {% for program in programs %}
        <div>
            <h2>{{ program.id }} - <a href="{{ path("program_show", { id: program.id }) }}">{{ program.title }}</a> - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

{% endblock %}