{% extends 'base.html.twig' %}
{% block title %}{{ program.slug }}{% endblock %}

{% block body %}
<a href="{{ path("program_show", { programSlug: program.slug }) }}"><h1>{{ program.title }}</h1></a>
    <a href="{{ path("program_season_show", {"program" : program.slug, "season" : season.id}) }}"><h2>Season {{ season.number }} ({{ season.year }})</h2></a>
    <h3>Episode {{ episode.number}} "{{ episode.title }}"</h3>
    <p>{{ episode.synopsis }}</p>
{% endblock %}