{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path("program_show", { id: program.id }) }}"><h1>{{ program.title }}</h1></a>
    <h2>Saison: {{ season.number }} Année: ({{ season.year }})</h2>
    <h3>Description: {{ season.description }}</h3>
    {% for episode in episodes %}
        <div>
            <ul>
                <li>{{ episode.title|upper }}</li>
                <p>{{ episode.synopsis }}</p>
            </ul>
        </div>
    {% endfor %}
{% endblock %}